<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WCG Document</title>
</head>
<body>
    <div class="w-100 my-3" style="text-align: center;" >
        <h2>Hi, welcome to World Class Government APIs</h2>
    </div>
    For more detail: <a href="https://github.com/WorldClassProgrammers/Government-APIs">Government-APIs Github Repo</a>
    <br>
    <p>Here is the Path:</p>
    <ul>
        <li><a href="https://wcg-apis.herokuapp.com/registration">Registration API</a></li>
        <li><a href="https://wcg-apis.herokuapp.com/citizen">Citizen Database</a></li>
    </ul>

    </div>
</body>
</html>